body {
    background-color: darkslategray;
}

#title {
    font-family: 'Babylonica', cursive;
    color: darkturquoise;
    font-weight: bolder;
    font-size: 130px;
}

#index-banner {
    height: 500px;
}

#banner-img {
    height: 150px;
}

.foot {
    background-color: darkslategray
}

.topic {
    border-style: solid;
    border-width: 1px;
    flex: 1 0;
    text-align: center;
    color: bisque;
    font-size: 75px;
    font-weight: bold;
}

.border-bot {
    border-bottom: 1px solid bisque;
}

.list-el {
    font-size: 20px;
    text-align: center;
    color: bisque;
}