body {
    background-color: rgb(233, 218, 155);
    font-family: Impact, sans-serif;
}

#title {
    font-family: 'Babylonica', cursive;
    color: rgba(207, 179, 88, 0.87);
    font-weight: bolder;
    font-size: 150px;
}
.col s12 row {
    color:black;
}

#index-banner {
    height: 500px;
}

#banner-img {
    height: 150px;
}

#foot {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgba(103, 104, 122, 0.904)
    
}
