body {
    background-color: darkslategray;
}

#title {
    font-family: 'Babylonica', cursive;
    color: darkturquoise;
    font-weight: bolder;
    font-size: 100px;
}

#index-banner {
    height: 500px;
}

#banner-img {
    height: 150px;
}